@page "/about"

<h3>A propos</h3>

<pre>
 Ceci est un projet simple de gestion de taches pour apprendre Blazor
</pre>
<br>
<p style="font-size: 15px">
&copy ibrahim ahmad, gabEra SS, 2023
</p>

@code {

}
