@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenu sur votreapp preferer qui gerens vos taches !</h1>

<Button>
<NavLink href="todo">Ajouter une taches </NavLink>
</Button>
<!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
