@inherits LayoutComponentBase

<PageTitle>aykiTodo</PageTitle>

<div style="background-color: #d6d5F5" class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="about" target="_blank">A propos</a>
        </div>

        <!-- Contenue Principal -->
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
